{% extends 'main.twig' %}

{% block content %}

    <div class="mt-4">
        <div class="container px-0">
            <section class="col-sm-12 col-md-12" id="showUser">
                <div class="card border-bottom-1 br1-bottom-sm p-0 mb8 mb6-md shadow-md border-0">
                    <div class="p-3 py-sm-4 px-sm-5 bg-white">
                        <h1 class="mb-0">
                            Rediger reiser
                        </h1>
                    </div>
                    <hr class="my-0">
                    <div class="card-body pb-0">
                        <form action="editTrip.php" method="post">

                            <table class="table table-bordered table-hover display nowrap" style="width:100%"
                                   id="mytable">
                                <thead>
                                <tr>
                                    <th>Info</th>
                                    <th>Dato</th>
                                    <th>Tid</th>
                                    <th>Sjåfør</th>
                                    <th>Fra</th>
                                    <th>Til</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for trip in trips %}

                                    <tr class="selectedTrip" data-id="{{ trip.getTripId() }}">
                                        <td class="info cursor-pointer" data-pass="
                                        {% if trip.getPassengers()|length > 0 %}
                                             {% for user in trip.getPassengers() %}
                                              {% if loop.revindex == 2 %}
                                                   {{ user.getName() }} {{ user.getSurName() }} og
                                                   {% elseif loop.last %}
                                                   {{ user.getName() }} {{ user.getSurName() }}.
                                                   {% else %}
                                                   {{ user.getName() }} {{ user.getSurName() }},
                                                   {% endif %}
                                                {% endfor %}
                                         {% else %}
                                          Ingen
                                       {% endif %}"
                                            data-pref="
                                         {% if trip.getPreferences()|length > 0 %}
                                             {% for pref in trip.getPreferences() %}
                                                  {% if loop.revindex == 2 %}
                                                   {{ pref.getPrefDescription() }} og
                                                   {% elseif loop.last %}
                                                   {{ pref.getPrefDescription() }}.
                                                   {% else %}
                                                   {{ pref.getPrefDescription() }},
                                                   {% endif %}
                                             {% endfor %}
                                        {% else %}
                                           Ingen
                                        {% endif %}"
                                        ><i class="fas fa-plus-circle icon pl-2"></i></td>
                                        <td>{{ trip.getDateOfDeparture().format('d.m.Y') }}</td>
                                        <td>{{ trip.getDateOfDeparture().format('H:i') }}</td>
                                        <td>{% if trip.getDriver().getName() is not null %}{{ trip.getDriver().getName() }} {{ trip.getDriver().getSurName() }}{% else %}Ingen{% endif %}</td>
                                        <td>{{ trip.getDeparturePoint().getAddress() }}</td>
                                        <td>{{ trip.getDestinationPoint().getAddress() }}</td>
                                    </tr>

                                    <!--           <tr class="d-none">
                                                       <td colspan="5">
                                                           <table class="col-12" cellspacing="0" border="0" style="padding-left:50px;">
                                                               <tbody>
                                                                  <tr>
                                                                      <td>Passasjerer: + passengers +</td>
                                                                  </tr>
                                                                  <tr>
                                                                      <td>Preferanser:</td>
                                                                  </tr>
                                                               </tbody>
                                                           </table>
                                                       </td>
                                                   </tr> -->
                                {% endfor %}
                                </tbody>
                            </table>

                            <div class="form-group">
                                <button type="button" class="btn btn-secondary" name="back"><a
                                            href="administratorTools.php" class="linkButton">Tilbake</a></button>
                                <button type="button" class="btn btn-danger float-right" id="chooseTrip"
                                        data-toggle="modal" data-target="#choosenTrip" disabled>
                                    Slett
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </div>

    <div class="modal fade" style="padding-top: 120px" id="choosenTrip">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <h6>Vil du virkelig slette denne reisen?</h6>
                </div>
                <form method="post">
                    <div class="modal-footer">
                        <button type="button" id="remove" class="btn btn-default ml-auto" name="delTrip" data-dismiss="modal">Ja</button>
                        <button type="button" class="btn btn-default mr-auto" data-dismiss="modal">lukk</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


{% endblock %}

    {% block bodyscripts %}

        <script src="js/editTrips.js"></script>

    {% endblock %}